* {
	box-sizing: border-box;
	margin: 0;
}
header {
  margin: 0;
  padding: 0px;
  font-size: 20px;
  text-align: center;
  background: darkorange;
}
header h2 {
	padding: 30px;
}
body {
  font-family: Arial;
  padding: 0px;
  background: #f1f1f1;
}
.card {
  background-color: white;
  padding: 20px;
  margin: 0 auto;
  margin-top: 20px;
  width: 75%;
  height: auto;
min-height: 300px;
  font-size: 20px;
}

.navibar {
  background-color: #333;
  overflow: hidden;
}

.navibar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width:25%;
}

.navibar a:hover {
  background-color: #ddd;
  color: black;
}

.card h2 {
	text-align: center;
  margin: 20px;
}
.navibar a.active {
  background-color: #04AA6D;
  color: white;
}

footer {
  margin: 0;
margin-top: 15px;
padding: 5px;
font-size: 15px;
text-align: center;
background: darkorange;
}

.card figure img {
	width: 65%;
	padding-left: 33%;
}
.card video{
	width: 65%;
	padding-left: 30%;
}
#small{
	width: 65%;
	padding-left: 550px;
}
#big{
	width: 100%;
	padding-left: 480px;
}
figcaption {
	font-size: 12px;
	margin: 10px;
	padding: 10px;
}
#figcaption {
	font-size: 12px;
padding-left: 650px;
}
